{
  "root": true,
  "env": {
    "node": true
  },
  // eslint-plugin-vue
  "extends": ["plugin:vue/vue3-essential", "eslint:recommended"],
  "parserOptions": {
    "parser": "@babel/eslint-parser"
  }
}